footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}
